// Colors
$black: #000;
$grey: #d3d3d3;
$dark-grey: #808080;
$white: #fff;

// General
$bg-color: #e9ebee;
$opacity-bg: rgba(0, 0, 0, .5);
$image-bg: rgba(0, 0, 0, .3);

$main-color: $black;
$secondary-color: #d3d3d3;

// Buttons
$donate-btn-color: $white;
$donate-btn-bg-color: #6c95e6;
$donate-btn-bg-color-hover: #5d83ce;

$call-btn-color: $white;
$call-btn-bg-color: #4ca734;
$call-btn-bg-color-hover: #469c2f;

$disabled-btn-color: $white;
$disabled-btn-bg-color: #acacac;
$disabled-btn-bg-color-hover: #9c9b9b;
